body {
	background-color: #F1F1F1;
	font-family: 'Lato', sans-serif;
}
.bg-balance {
	background-color: #F2DEDE !important;
	color: #a94442;
	font-size: 16px !important;
	border-color: #DDA8A8 !important;
}
.balance {
	color: #000;
	font-weight: normal;
	font-size: 14px;
	background: #D1EFFE;
	padding: 5px 15px;
	border: 2px solid #6DCBFA;
	border-radius: 50px;
}
.errors {
	font-size: 20px;
	text-align: center;
}
.nav>li>a {
	font-size: 16px
}
.navbar {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.navbar-inverse {
	border-color: #02689F
}
.login li {
	list-style-type: none;
	font-size: 35px;
	line-height: 70px
}
form input, form textarea, form select {
	border-radius: 0 !important;
	border: 1px solid #0398DB;
}
.btn-primary {
	background: #025377;
	border-radius: 0;
	padding: 5px 25px;
	border: 1px solid #013045
}
.form {
	background: #0298EA;
	padding: 25px;
	border-radius: 5px;
	border: 1px solid #02689F;
	color: #fff
}
.form label {
	color: #fff;
	font-weight: bold;
	font-size: 10px;
}
.myform input {
	border-radius: 2px
}
.bg-red, .bg-red a {
	background: #0288D1;
	color: #fff !important;
}
.main-body {
	margin-bottom: 120px
}
.footer {
	background-color: #bdbdbd;
	padding: 15px;
}
.footer-links li {
	display: inline-block
}
.p-15 {
	padding: 5px 15px
}
#table_id_filter input, #table_id_filter select {
	border: 1px solid #CEDBDB !important;
}
.rounded-0 {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}
.rounded-2 {
	-webkit-border-radius: 2px !important;
	-moz-border-radius: 2px !important;
	border-radius: 2px !important;
}
#table_id_wrapper label {
	font-weight: normal
}
.danger {
	color: #DC3545
}
.modal-content {
	background-color: #B3DCED;
}
.modal-footer {
	border-top: 1px solid #89CAE3;
}
.modal-header {
	padding: 15px;
	border-bottom: none;
}
.rounded-4 {
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	border-radius: 4px !important;
}
#table_id thead {
	background: #D7D7D7;
	color: #000
}
th {
	white-space: nowrap;
}
table.dataTable tfoot th, table.dataTable tfoot td {
	padding: 10px 18px 6px 18px;
	background: #fff;
	border: none;
}
.m-4 {
	margin-bottom: 5px
}
@media screen and (min-width: 800px) {
	.pull-right-lg {
		float: right
	}
}
.login .navbar {
	margin-bottom: 0;
}