{% extends 'base.html' %}

{% import "bootstrap/wtf.html" as wtf %}

{% block maincontent %}

    <div class="container">
            <div class="row well">
                <div class="col-md-6 intro">
                    <h4>You need to login in order to:</h4>

                    <ul class="login">
                        <li><i class="mdi mdi-checkbox-marked-circle-outline" aria-hidden="true"></i> Add Telephone Numbers</li>
                        <li><i class="mdi mdi-checkbox-marked-circle-outline" aria-hidden="true"></i> Send Airtime</li>

                    </ul>
                </div>

                <div class="col-md-6  h-150">


                    {{ wtf.quick_form(loginform, button_map={'submit':'primary'}) }}
                    <small><a href="{{ url_for('users.reset_request') }}">Forgot Password?</a></small>
                    <br/>

                </div>
            </div>
        </div>

{% endblock %}